<app-additional [config]="config$ | async"
                [form]="form"
                [title]="'Pets'"
                (save)="onSave($event)">

  <div class="p-3 ms-0 pt-0">
    <app-text [form]="form"
              [id]="'petsCount'"
              [label]="'How many pets are you bringing over?'">
    </app-text>

    <app-dropdown [form]="form"
                  [isBoolean]="true"
                  [id]="'arriveTogether'"
                  [label]="'Do you want your pets to arrive in the Netherlands the same time you do?'">
    </app-dropdown>

    <h5>Options</h5>
    <ng-container *ngFor="let _option of selections; let i = index">
      <div class="option"
           [class.selected]="i === form.get('selectedOption').value"
           (click)="select(i)">
        <h6>{{_option.title}}</h6>
        <span>{{_option.description}}</span>
        <br>
        <b>Cost: </b><span>R {{_option.cost}}</span>
        <br>
        <b>Time: </b><span>{{_option.time}} week(s)</span>
      </div>
    </ng-container>
  </div>

</app-additional>
