<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button"
              [class.collapsed]="!(isOpen$ | async)"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              [attr.aria-expanded]="(isOpen$ | async)"
              aria-controls="panelsStayOpen-collapseOne"
              (click)="toggleOpen()">
        General information
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
         [class.show]="(isOpen$ | async)"
         aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <fieldset [formGroup]="form">
          <legend>Information</legend>

          <div class="col-12 mb-3">
            <label for="peopleCount" class="form-label">When did you start your immigration journey?</label>
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [formControlName]="'startDate'"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
          </div>

          <div class="mb-3">
            <label for="peopleCount" class="form-label">Amount of people for application <b>(including
              yourself)</b></label>
            <input [formControlName]="'peopleCount'" type="number" id="peopleCount" class="form-control">
          </div>

          <div class="mb-3">
            <label for="euCitizenship" class="form-label">Do you have EU citizenship?</label>
            <select id="euCitizenship" formControlName="euCitizenship" class="form-select disabled">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="partner" class="form-label">Are you bringing a partner over?</label>
            <select [formControlName]="'partner'" id="partner" class="form-select">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="married" class="form-label">Are you married?</label>
            <select [formControlName]="'married'" id="married" class="form-select">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="children" class="form-label">Do you have children coming over?</label>
            <select [formControlName]="'children'" id="children" class="form-select">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>

          <div class="mb-3" *ngIf="includeChildren">
            <label for="children_count" class="form-label">How many children are coming over?</label>
            <input [formControlName]="'childrenCount'" type="number" id="children_count" class="form-control">
          </div>

          <app-dropdown
            [label]="'Do you have pets coming over?'"
            [form]="form"
            [id]="'pets'"
            [options]="_booleanOptions">
          </app-dropdown>

        </fieldset>
        <div class="content-footer d-flex justify-content-end">
          <button type="button" class="btn btn-primary " (click)="save($event)">Save changes</button>
        </div>

        {{ form.value | json }}
      </div>
    </div>
  </div>
</div>
