.container {
  &-additional {
    padding: 0.5rem;

    height: 100%;
    // Inset box-shadow on the left
    box-shadow: inset 15px 0 15px -5px rgba(0, 0, 0, 0.25);

    position: absolute;
    left: 100%;
    width: 50%;

    max-height: 100%;
    min-height: 100%;

    // Animate on the left property
    transition: left 0.5s ease-in-out;

    &.open {
      left: 50%;
    }

    &.closed {
      left: 100vw;
    }

    .content {
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      background-color: #2C2C2C;

      border-radius: 0.5rem;


      overflow-y: auto;
      max-height: 98%;
      min-height: 98%;

      .option {
        border-radius: 0 0.5rem 0.5rem 0;
        cursor: pointer;

        padding: 0.5rem 1rem;

        transition: box-shadow, border-left-width, border-left-width 0.3s ease-in-out;

        &:not(first-child) {
          margin-top: 0.5rem;
        }

        h6 {
          font-weight: bold;
        }


        box-shadow: inset 0 0 2px 2px rgba(0,0,0,0.25);
        &.selected {
          box-shadow: inset 0 0 20px 8px rgba(0,0,0,0.25);
          border-left-width: 4px;
          border-left-style: solid;
          border-left-color: var(--bs-warning);
          padding-left: 1rem;
        }

        &:not(.selected):hover {
          box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.25);
        }
      }
    }
  }
}
