<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button"
              [class.collapsed]="!(isOpen$ | async)"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#panelsStayOpen-collapseOne"
              [attr.aria-expanded]="(isOpen$ | async)"
              aria-controls="panelsStayOpen-collapseOne"
              (click)="toggleOpen()">
        General information
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
         [class.show]="(isOpen$ | async)"
         aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <fieldset [formGroup]="form">
          <legend>Information</legend>
          <div class="mb-3">
            <label for="peopleCount" class="form-label">How many people are you bringing along <b>(including yourself)</b></label>
            <input appScrollChange [formControlName]="'peopleCount'" type="number" id="peopleCount" class="form-control">
            <div *ngIf="touchedControlHasError('peopleCount')"
                 class="invalid-feedback">
              {{getFirstError('peopleCount')}}
            </div>
          </div>

          <div class="mb-3">
            <label for="euCitizenship" class="form-label">Do you have EU citizenship?</label>
            <select appScrollChange id="euCitizenship" formControlName="euCitizenship" class="form-select disabled">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="partner" class="form-label">Are you bringing a partner over?</label>
            <select appScrollChange [formControlName]="'partner'" id="partner" class="form-select">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="married" class="form-label">Are you married?</label>
            <select appScrollChange [formControlName]="'married'" id="married" class="form-select">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>
          <div class="mb-3">
            <label for="children" class="form-label">Do you have children coming over?</label>
            <select appScrollChange [formControlName]="'children'" id="children" class="form-select">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="children_count" class="form-label">How many children are coming over?</label>
            <input appScrollChange [formControlName]="'childrenCount'" type="number" id="children_count" class="form-control">
          </div>

          <div class="mb-3">
            <label for="pets" class="form-label">Do you have pets coming over?</label>
            <select appScrollChange [formControlName]="'pets'" id="pets" class="form-select">
              <option *ngFor="let opt of booleanOptions" [ngValue]="opt.value">
                {{opt.label}}
              </option>
            </select>
          </div>

          <div class="mb-3">
            <label for="pets_count" class="form-label">How many pets are you bringing over?</label>
            <input appScrollChange [formControlName]="'petsCount'" type="number" id="pets_count" class="form-control">
          </div>
        </fieldset>
        <div class="content-footer d-flex justify-content-end">
          <button type="button" class="btn btn-primary " (click)="save()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
