<nav class="navbar bg-body shadow-sm">
  <div class="container-fluid">
    <div class="logo">
      <h6>Entegrate</h6>
      <span class="text-muted">Streamlining your immigration</span>
    </div>
  </div>
</nav>

<div class="container position-relative">
  <div class="app-content">
    <div class="container-timeline" [class.open]="!!(currentEvent$ | async)">
      <app-process-information></app-process-information>

      <h3 class="mt-3">Your timeline</h3>
      <ng-container *ngIf="events$ | async; let events">
        <ngx-timeline [events]="events"
                      [enableAnimation]="false"
                      [eventCustomTemplate]="eventTemplate"
                      [changeSideInGroup]="NgxTimelineEventChangeSideInGroup.ALL"></ngx-timeline>
      </ng-container>
    </div>
    <div class="container-additional" [class.open]="!!(currentEvent$ | async)">
      <ng-container #containerRef></ng-container>
    </div>
  </div>

</div>

<ng-template #eventTemplate let-event=event let-colSidePosition=colSidePosition>
  <app-event [event]="event"></app-event>
</ng-template>
