<nav class="navbar bg-body shadow-sm">
  <div class="container-fluid">
    <div class="logo">
      <h6>Entegrate</h6>
      <span class="text-muted">Streamlining your immigration</span>
    </div>
    <div class="timeline-indicator">
      <app-time-indicator></app-time-indicator>
    </div>
  </div>
</nav>

<div class="container position-relative">
  <div class="app-content">
    <div class="container-timeline" [class.open]="!!(currentEvent$ | async)">
      <app-process-information></app-process-information>

      <h3 class="mt-3">Your timeline</h3>
      <ng-container *ngIf="events$ | async; let events">
        <ngx-timeline [events]="events"
                      [enableAnimation]="false"
                      [eventCustomTemplate]="eventTemplate"
                      [dateInstantCustomTemplate]="dateTemplate"></ngx-timeline>
      </ng-container>

      <h2>Todo</h2>

      <h5>General</h5>
      <ul>
        <li>Local storage (state) (in)validation <code>// remove invalid options persisted in previous versions</code></li>
      </ul>

      <h5>Timeline</h5>
      <ul>
        <li>Dependent vs independent tasks (in parallel).</li>
      </ul>

      <h5>Apostille docs</h5>
      <ul>
        <li>Highlight the difference between Dirco and High court</li>
        <li>Get the cost/time information</li>
      </ul>

      <h5>Pets</h5>
      <ul>
        <li>Whole shebang on bringing pets over. Dogs vs cats <code>In progress</code></li>
        <li>Update timeline if pets are included/excluded <code>In progress</code></li>
        <li>Talbot Pets <code>TODO: Find alternatives, link to website</code></li>
        <li>Cats vs dogs: Process differences</li>
        <li>Blood tests (Can only fly three months after these are done, only certain vets do these)</li>
        <li>Vaccination</li>
        <li>Chip your pets</li>
        <li>Passports (The third party does this)</li>
        <li>Get your vet books in order / up to date</li>
        <li>Zoologists to clear the pets for the flight</li>
        <li>Zoologist will provide medication for your pets before the flight</li>
        <li>Crates for your pets - made specifically according to the airline dimensions</li>
        <li>Flight tickets for your pets</li>
        <li>Zoologist in the Netherlands to clear your pets</li>
        <li>Pay the customs fee for your pets</li>
        <li></li>
      </ul>

      <h5>Job</h5>
      <ul>
        <li>Do you have a job this side</li>
      </ul>

      <h5>MVV application (long-stay visa)</h5>
      <ul>
        <li>What is this, how is it used? <code>In progress</code></li>
        <li>Booking at the embassy</li>
      </ul>

      <h5>Flight information</h5>
      <ul>
        <li>Preferences in flights</li>
        <li>Stopover information</li>
      </ul>

      <h5>Netherlands Arrival</h5>
      <ul>
        <li>Residency permit</li>
        <li>BSN number</li>
        <li>Finding a home</li>
        <li>Sim card</li>
        <li>Public transport</li>
        <li>Apps to help you get around</li>
        <li>Drivers license</li>
      </ul>

      <h5>Checklist from ABN AMRO</h5>
      <ul>
        <li>Bank account</li>
      </ul>

    </div>
    <div class="container-additional" [class.open]="!!(currentEvent$ | async)">
      <ng-container #containerRef></ng-container>
    </div>
  </div>

</div>

<ng-template #eventTemplate let-event=event let-colSidePosition=colSidePosition>
  <app-event [event]="event"></app-event>
</ng-template>

<ng-template #dateTemplate let-item=item>
  <span>
    {{item?.time || 0}} week{{item?.time !== 1 ? 's' : ''}}
  </span>
  <span class="small" *ngIf="item.dependsOn?.length > 0">
    <i>Depends on
    <span *ngFor="let dependent of item.dependsOn">
      <b>{{dependent}}{{dependent === item.dependsOn[item.dependsOn.length - 1] ? "" : ", "}}</b>
    </span>
    </i>
  </span>
</ng-template>
