<nav class="navbar bg-body shadow-sm">
  <div class="container-fluid">
    <div class="logo">
      <h6>Entegrate</h6>
      <span class="text-muted">Streamlining your immigration</span>
    </div>
    <div class="timeline-indicator">
      <app-time-indicator></app-time-indicator>
    </div>
  </div>
</nav>

<div class="container position-relative">
  <div class="app-content">
    <div class="container-timeline" [class.open]="!!(currentEvent$ | async)">
      <app-process-information></app-process-information>

      <h3 class="mt-3">Your timeline</h3>
      <ng-container *ngIf="events$ | async; let events">
        <ngx-timeline [events]="events"
                      [enableAnimation]="false"
                      [eventCustomTemplate]="eventTemplate"
                      [changeSideInGroup]="NgxTimelineEventChangeSideInGroup.ALL"></ngx-timeline>
      </ng-container>

      <h2>Todo</h2>

      <h5>Pets</h5>
      <ul>
        <li>Whole shebang on bringing pets over. Dogs vs cats</li>
      </ul>

      <h5>MVV application</h5>
      <ul>
        <li>What is this, how is it used?</li>
        <li>Booking at the embassy</li>
      </ul>

      <h5>Flight information</h5>
      <ul>
        <li>Preferences in flights</li>
        <li>Stopover information</li>
      </ul>

      <h5>Netherlands Arrival</h5>
      <ul>
        <li>Residency permit</li>
        <li>BSN number</li>
        <li>Finding a home</li>
        <li>Sim card</li>
        <li>Public transport</li>
        <li>Apps to help you get around</li>
      </ul>

      <h5>Checklist from ABN AMRO</h5>
      <ul>
        <li>Bank account</li>
      </ul>

    </div>
    <div class="container-additional" [class.open]="!!(currentEvent$ | async)">
      <ng-container #containerRef></ng-container>
    </div>
  </div>

</div>

<ng-template #eventTemplate let-event=event let-colSidePosition=colSidePosition>
  <app-event [event]="event"></app-event>
</ng-template>
