<app-additional [config]="config$ | async"
                [form]="form"
                (save)="save($event)"
                [title]="'Police clearance'">

  <p>
    <i>
      A police clearance certificate is used by Entelect to provide to a potential client in the Netherlands.
      This is just a cautionary step needed in the immigration process.
    </i>
  </p>

  <h5>Timeline</h5>
  <p>
    This usually takes up to <b>8 weeks</b>.
  </p>
  <hr>

  <h5>Take note!</h5>
  <p>
    Get this done early in the process, but this document is only <b>valid for 6 months</b> after it is issued.
    So you don't <i>have to</i> get this done first thing, but it is easy to forget about.
  </p>
  <p>
    I don't think the 6 months validity period is a hard-deadline for this document, so I would not be too
    stressed about this. But, please make sure that you do get it before coming over.
  </p>

  <div class="alert alert-info" role="info">
    You will have to collect this document from the Police Station where you applied for it <b>yourself</b>.
    If for any reason you can not collect it, you have to specify the person who would be collecting it.
    Upon collection, whoever collects it would have to <b>provide their proof of Id</b>.
  </div>

  <hr>

  <h5 class="mt-3">Getting your police clearance certificate</h5>

  <section class="alternate">
    <h6>Visit your nearest SAPS police station</h6>
    <p>
      Make sure to bring your identification documents, such as your South African ID card or passport.
    </p>
  </section>

  <section class="alternate">
    <h6>Request a police clearance certificate application form (or <b>SAPS 91(a)</b>)</h6>
    <p>
      Fill out the form accurately and completely. You may need to provide personal details, including
      your full name, date and place of birth, fingerprints, and previous addresses.
    </p>
  </section>

  <section class="alternate">
    <h6>Fingerprints</h6>
    <p>
      At the police station, they will guide you on the fingerprinting process. Usually, your fingerprints
      will be captured electronically using a fingerprint scanner.
    </p>
  </section>

  <section class="alternate">
    <h6>Pay the required fee</h6>
    <p>
      The cost for a police clearance certificate can vary, so it's best to inquire about the current fee
      at the police station. the fee is <b>around R 150</b>, but it is subject to change.
    </p>
  </section>

  <section class="alternate">
    <h6>Submit the application</h6>
    <p>
      Hand in your completed application form, along with the necessary supporting documents, fingerprints,
      and the payment receipt. The police station will guide you on the submission process and provide you
      with a reference number for tracking your application.
    </p>
  </section>
</app-additional>
