/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

@import 'bootstrap/scss/bootstrap.scss';

@import 'ngx-toastr/toastr-bs5-alert';

:root {
  --bs-body-font-family: 'Montserrat';
}

@import './styles/timeline';
@import './styles/additional';
@import './styles/progress-indication';

$nav-height: 80px;

.invalid-feedback {
  display: block !important;
}

nav {
  &.navbar {
    height: $nav-height !important;
  }
}

.center-icon-container {
  position: relative !important;
  background: var(--bs-body-bg) !important;
}

.items-container {
  min-width: max(20rem, 90%) !important;
}

.event-outer-container {
  margin: 0 !important;
  padding: 0 1rem !important;
}


// Event
.event-custom {
  border-radius: 5px;
  // Create a default box shadow
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  background: #2c2c2c;
  padding: 0.5rem;
  margin-top: 0.5rem;

  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid #2c2c2c;

  &.completed {
    border-color: #198754;

    &.active {
      border: 2px solid #198754;
      box-shadow: 0px 0px 6px 3px rgb(25 135 84);
    }

    .header {
      color: #198754;
    }

    color: rgb(117, 183, 152);

    hr {
      color: #198754;
    }
  }

  &:hover {
    // Create a hover box shadow
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  }

  &.active {
    border: 2px solid #FFA500;
    box-shadow: 0px 0px 6px 3px #FFA500;
  }
}


::-webkit-scrollbar {
  width: 8px;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background: #151515;
}

.app-content {
  overflow: hidden;
  max-height: calc(100vh - $nav-height);
  min-height: calc(100vh - $nav-height);
  position: relative;

  transition: left 0.5s ease-in-out;
}
